---
layout: page
title: "Events"
description: "Take part."
header-img: "img/events-bg3.jpg"
---

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

<p>We are ran a weekly seminar in Cambridge, held regular team meetings, and held number of international workshops and conferences.</p>

<!-- 	<div class="text-center">
		<h1>{% if page.pasttitle %}{{ page.pasttitle }}{% else %}{% endif %}</h1>
	</div> -->
  	<section class="event-contrast">
<!--   	<ul class="pager">
		<li class="next">
		<a href="..">Back</a>	
		</li>
		</ul>	 -->
			<div class="post-preview">
				<h1 class="post-title"><a href="/events/seminar/">New Directions Seminar</a></h1>	        			
				<p class="post-meta">Cambridge, 2016-2017</p>
			</div>
			<hr>
		{% assign curaDate = site.time | date: '%s' %}
		{% for event in site.categories.events %}
			{% assign postaStartDate = event.date | date: '%s' %}	
				{% if postaStartDate < curaDate %}				
							<div class="post-preview">
								<a href="{{ event.url | prepend: site.baseurl }}">
					        		<h2 class="post-title">{{ event.title }}</h2>
				        			{% if event.speaker %}
				        				<h3 class="post-subtitle">{{ event.speaker }}</h3>
				        			{% endif %}
				    			</a>
				    			<p class="post-meta">{% if event.location %}{{ event.location }}{% else %}{{ site.title }}{% endif %}, {{ event.date | date: "%-d %B %Y" }}</p>
							</div>
							<hr>	
							{% else %}				
				{% endif %}
		{% endfor %}
<!-- 		<ul class="pager">
		<li class="next">
		<a href="..">Back</a>	
		</li>
		</ul> -->

	</section>
   
<span class="caption text-muted">Image: 
<a href="https://www.flickr.com/photos/willfolsom/5508029135/in/photolist-9oJ6az-4BidQe-5M6Uu-iyFz6M-F2WvD-pdbb-6vgN9N-9hbBxc-4xveST-7vJBXX-6TVgg-fmUm1P-818ym-4mhNSd-kpe2FU-5Txt-8ZJd6E-asHazg-2aNJDA-6TVqn-az86CM-dFj2AY-6TVcV-obmCig-6TVo1-cEC9to-6TVf1-v3uJc-rmev7p-sXgpQc-6aE7gE-4jdSo9-og9d73-7kk7BH-53rLFu-ohK5-qswkPy-cDWcPJ-bsSQgE-fn9wr3-7G2aVd-rsoMsy-fn9wsQ-6aDYr1-5fVG9H-8GWm9V-pg2Q6v-mFaVxy-6AXp9E-74b2sU" target="_blank">Hipster Convention</a>, Will Folsom</span>
</div>
