---
layout: page
title: "Events"
description: "Take part."
header-img: "img/events-bg3.jpg"
---

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

<p>We are ran a weekly seminar in Cambridge, hold regular team meetings, and give talks all around the globe.</p>

<h3><u><a href="/seminar">Seminar</a></u></h3>

<p>Go here for information about the project seminar, including audio and slides. The seminar covers a variety of topics on consciousness and intentionality</p>
	
<h3>Past Events</h3>

<p>Follow the links below for information about the project's past events, including audio, video, and slides from the project's two workshops.</p>

<!-- 	<div class="text-center">
		<h1>{% if page.pasttitle %}{{ page.pasttitle }}{% else %}{% endif %}</h1>
	</div> -->
  	<section class="event-contrast">
<!--   	<ul class="pager">
		<li class="next">
		<a href="..">Back</a>	
		</li>
		</ul>	 -->		
		{% assign curaDate = site.time | date: '%s' %}
		{% for event in site.categories.events %}
			{% assign postaStartDate = event.date | date: '%s' %}	
				{% if postaStartDate < curaDate %}				
							<div class="post-preview">
								<a href="{{ event.url | prepend: site.baseurl }}">
					        		<h2 class="post-title">{{ event.title }}</h2>
				        			{% if event.speaker %}
				        				<h3 class="post-subtitle">{{ event.speaker }}</h3>
				        			{% endif %}
				    			</a>
				    			<p class="post-meta">{% if event.location %}{{ event.location }}{% else %}{{ site.title }}{% endif %}, {{ event.date | date: "%-d %B %Y" }}</p>
							</div>
							<hr>	
							{% else %}				
				{% endif %}
		{% endfor %}
<!-- 		<ul class="pager">
		<li class="next">
		<a href="..">Back</a>	
		</li>
		</ul> -->

		<ul class="pager">
		<li class="next">
		<a href="/events/">{% if page.events %}{{ page.events }}{% else %}Upcoming events{% endif %}</a>
		</li>
		</ul>

	</section>
	<span class="caption text-muted">Image: 
<a href="https://www.flickr.com/photos/wikidave/7487030330/" target="_blank">175/365+1 Motherboard 4</a>, 
Dave Crosby</span>
</div>



<h1><u><a href="http://www.humanmindconference.com/">The Human Mind Conference</a></u></h1>

<p>This was out project's capstone conference, which took place 27-29 June 2017 at The Møller Centre, Cambridge. It was an international, interdisciplinary conference, which brought together a wide range of experts from across the humanities and the cognitive sciences. It was co-organised with <a href="www.humanind.ac.uk">The Human Mind Project</a>, School of Advanced Study, London. Videos of the talks will be coming soon on the conference website.</p>
   
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" 
	type="text/javascript"></script>
<script type="text/javascript" 
	src="http://philevents.org/js/xEvents-widget.js"></script>
<link rel="stylesheet" type="text/css" 
	href="{{ site.baseurl }}/css/widget.css" />
<script>
    $(document).ready(function() {
        var options = {
            site: 'http://philevents.org/widget/api',
            storedQuery: 3633334, // the search query identifier
            containerTag: "xevents-widget3633334"
        };
        xEvents.init(options);
     });
</script>
<div id='xevents-widget3633334'></div> -->

<span class="caption text-muted">Image: 
<a href="https://www.flickr.com/photos/willfolsom/5508029135/in/photolist-9oJ6az-4BidQe-5M6Uu-iyFz6M-F2WvD-pdbb-6vgN9N-9hbBxc-4xveST-7vJBXX-6TVgg-fmUm1P-818ym-4mhNSd-kpe2FU-5Txt-8ZJd6E-asHazg-2aNJDA-6TVqn-az86CM-dFj2AY-6TVcV-obmCig-6TVo1-cEC9to-6TVf1-v3uJc-rmev7p-sXgpQc-6aE7gE-4jdSo9-og9d73-7kk7BH-53rLFu-ohK5-qswkPy-cDWcPJ-bsSQgE-fn9wr3-7G2aVd-rsoMsy-fn9wsQ-6aDYr1-5fVG9H-8GWm9V-pg2Q6v-mFaVxy-6AXp9E-74b2sU" target="_blank">Hipster Convention</a>, Will Folsom</span>
