    <section id="team" class="bg-light-gray">
            <div class="row">
            <div class="col-lg-12 text-center">
             <h2 class="section-heading">Project team</h2>

            </div>
                <div class="col-lg-12 text-center">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{site.baseurl}}/img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
          </div>
          </div>

          <div class="row"> <!-- New section for former members. Modelled on the team member sections -->
            <div class="col-lg-12 text-center">
              <h3 class="subheading text-muted">Former team members</h3>
            </div>
            <div class="col-lg-12 text-center">
            {% for member in site.formerpeople %} <!-- changed to formerpeople from people so it gets the right info from config.yml -->
              <div class="col-sm-4">
                <div class="team-member">
                  <img src="{{site.baseurl}}/img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                  <div class="member-name"> <!-- a new div so to increase margins in between the member name and social icons-->
                    <h4>{{ member.name }}</h4>
                  </div>
                    <ul class="list-inline">
                      {% for network in member.social %}
                      <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                      {% endfor %}
                    </ul>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>

        <!--  New section for Academic collaborators  -->
          <div class="row">
            <div class="col-lg-12 text-center">
              <h3 class="subheading text-muted">Academic Collaborators</h3>
            </div>
            <div class="col-lg-12 text-center">
            {% for member in site.collaborator %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{{site.baseurl}}/img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    <ul class="list-inline">
                        {% for network in member.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </section>
